<!-- Page to create a new dinner event -->
<!-- Header and title -->
<div class="title" ng-show="!editAble">
    <img src="/assets/images/title.png" alt="Title" class="titleBanner">
    <div class="titleContent">
        <h5 class="heading">CREATE YOUR DINNER EVENT</h5>
    </div>
</div>

<!-- Page content -->
<div class="woodBackground">
    <div class="container">
        <form>
            <!-- Message in case of succesful event creation-->
            <div class="alert alert-success" role='alert' ng-show="success" style="margin-top: 3%; text-align: center">Event published successfully!
                    <br><br>
                    <button type="button" class="btn btn-primary" ui-sref="show_all_by_date">
                    Search Events
                </button>
            </div>

            <!-- Form to be filled out for creating a new event -->
            <div class="content_box_create">
                <div name="create" class="form-horizontal" style="width: 45%; float:left;">
                    <!-- Title of the event -->
                    <div class="form-group">
                        <label for="title" class="col-xs-3 control-label">Title:</label>
                        <div class="col-xs-9">
                            <input name="title" type="text" maxlength="50" class="form-control input-medium" id="title" placeholder="Title" ng-model="event.title" required>
                        </div>
                    </div>
                    <!-- Picture for the event -->
                    <div class="form-group">
                        <label for="picture" class="col-xs-3 control-label">Picture:</label>
                        <div class="col-xs-9">
                            <input type="file" id="picture" accept="image/*" style="width: auto; font-size: 16px;"/>
                        </div>
                        <!-- Preview of uploaded event picture -->
                        <div class="form-group">
                            <div style="margin-left: 30%">
                                <p class=".col-sm-4">Preview:</p>
                                <img class="col-sm-6" id="preview" src="#" />
                            </div>
                        </div>
                    </div>
                    <!-- Description of the event -->
                    <div class="form-group">
                        <label for="description" class="col-xs-3 control-label">Description:</label>
                        <div class="col-xs-9">
                            <textarea name="description" class="form-control input-medium" maxlength="250" rows="5" cols="50" id="description" placeholder="Add Description..." ng-model="event.description" required></textarea>
                        </div>
                    </div>
                    <!-- Location of the event using Google Maps API-->
                    <div class="form-group">
                        <label for="locationField" class="col-xs-3 control-label">Location:</label>
                        <div class="col-xs-9" id="locationField">
                            <input class="form-control input-medium" id="autocomplete" placeholder="Enter your address" type="text" places-auto-complete ng-model="event.location" required/>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" style="float: right; width: 45%">
                    <!-- Motto of the event -->
                    <div class="form-group">
                        <label for="motto" class="col-xs-3 control-label">Motto:</label>
                        <div class="col-xs-9">
                            <input name="motto" type="text" maxlength="50" class="form-control input-medium" id="motto" placeholder="Your Motto!" ng-model="event.motto" required>
                        </div>
                    </div>
                    <!-- Labels for the event -->
                    <div class="form-group">
                        <label for="iconVeggie" class="col-xs-3 control-label">Categories:</label>
                        <div class="col-xs-9">
                            <div class="checkbox checkIcons">
                                <label>
                                    <input type="checkbox" class="icons labels_input" id="iconVeggie" ng-model="event.isVeggie"/>
                                    <div class="glyphicon glyphicon-apple labels" aria-hidden="true"> (Veggie)</div>
                                </label>
                            </div>
                            <div class="checkbox checkIcons">
                                <label>
                                    <input type="checkbox" class="icons labels_input" id="iconAlc" ng-model="event.isAlc"/>
                                    <div class="glyphicon glyphicon-glass labels" aria-hidden="true"> (Alcohol)</div>
                                </label>
                            </div>
                            <div class="checkbox checkIcons">
                                <label>
                                    <input type="checkbox" class="icons labels_input" id="iconSmoker" ng-model="event.isSmoker"/>
                                    <div class="glyphicon glyphicon-grain labels" aria-hidden="true"> (Smokers)</div>
                                </label>
                            </div>
                            <div class="checkbox checkIcons">
                                <label>
                                    <input type="checkbox" class="icons labels_input" id="iconCouple" ng-model="event.isCouple"/>
                                    <div class="glyphicon glyphicon-heart labels" aria-hidden="true"> (Couples)</div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Date of the event using a dropdown calendar -->
                    <div class="form-group">
                        <label for="date" class="col-xs-3 control-label">Date:</label>
                        <div class="col-xs-9">
                            <input name="date" type="datetime-local" class="form-control input-medium" id="date" placeholder="Date" ng-model="event.date" required>
                        </div>
                    </div>
                    <!-- Guest capacity of the event -->
                    <div class="form-group">
                        <label for="capacity" class="col-xs-3 control-label">Capacity:</label>
                        <div class="col-xs-9">
                            <input class="form-control input-medium" name="capacity" type="number" min="1" max="20" placeholder="1" id="capacity" ng-model="event.capacity" style="width: 23%;"/>
                        </div>
                    </div>
                    <!-- Costs of the event -->
                    <div class="form-group">
                        <label for="capacity" class="col-xs-3 control-label">Costs (<span class="glyphicon-euro"></span>): </label>
                        <div class="col-xs-9">
                            <input class="form-control input-medium" name="costs" type="number" min="0" step="1" max="100.0" placeholder="0" value="0" ng-model="event.costs" style="width: 23%;" />
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group" style="margin-left: 35%">
                        <div class="col-sm-offset-2 col-xs-10">
                            <!-- Saving a newly created event-->
                            <button type="submit" class="btn btn-primary create_button" ng-click="save()" ng-show="!success && !editAble">
                                Publish
                            </button>
                            <!-- Saving updates on an existing event -->
                            <button type="submit" class="btn btn-primary create_button" ng-click="update(event)" ng-show="!success && editAble">
                                Update
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>