<!-- Page to search for dinner events sorted by date -->
<!-- Header and title -->
<div class="title">
    <img src="/assets/images/title.png" alt="Title" class="img-responsive titleBanner">
    <div class="titleContent">
        <h5 class="heading">SEARCH FOR THE NEXT DINNER EVENTS</h5>
    </div>
</div>

<!-- Page content -->
<div class="woodBackground">
    <div class="container">
        <div class="row">
            <!-- Displaying every event in its own content box-->
            <div class="content_box" ng-repeat="event in events | orderBy:'date'" >
                <div class="row eventContentTop">
                    <!-- In case no event picture is available, display advertising-->
                    <div class="eventContentLeft searchImageBox">
                        <img class="searchImage" ng-if="event.picture != null" ng-src="/assets/images/users/{{event.picture}}" alt="Title">
                        <img class="searchImage" ng-if="event.picture == null" ng-src="/assets/images/others/{{other}}.jpg" alt="Title">
                    </div>
                    <!-- Display basic event information like title, description, costs etc.-->
                    <div class="eventContentRight searchContent">
                        <h2 class="searchTitles" >{{event.title}}</h2>
                        <div class="showIcons" style="width: 100%;text-align: center">
                            <div class="glyphicon labels" aria-hidden="true"></div>
                            <label title="Veggie"><div ng-if="event.isVeggie" class="glyphicon glyphicon-apple labels" aria-hidden="true"></div></label>
                            <label title="Alcohol"><div ng-if="event.isAlc" class="glyphicon glyphicon-glass labels" aria-hidden="true"></div></label>
                            <label title="Smokers"><div ng-if="event.isSmoker" class="glyphicon glyphicon-grain labels" aria-hidden="true"></div></label>
                            <label title="Couples"><div ng-if="event.isCouple" class="glyphicon glyphicon-heart labels" aria-hidden="true"></div></label>
                        </div>
                        <div class="EventContentBottom" style="padding: 5%">
                            <div class="row">
                                <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-list" aria-hidden="true"></div> Description:</label>
                                <p class="col-xs-8">{{event.description}}</p>
                            </div>
                            <hr>
                            <div class="row">
                                <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-eye-open" aria-hidden="true"></div> Motto:</label>
                                <p class="col-xs-8">{{event.motto}}</p>
                            </div>
                            <hr>
                            <div class="row">
                                <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-map-marker" aria-hidden="true"></div> Location:</label>
                                <p class="col-xs-8">{{event.location}}</p>
                            </div>
                            <hr>
                            <div class="row">
                                <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-calendar" aria-hidden="true"></div> Date:</label>
                                <p class="col-xs-8">{{event.date}}</p>
                            </div>
                            <hr>
                            <div class="row">
                                <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-user" aria-hidden="true"></div> Free Capacity:</label>
                                <p class="col-xs-8">{{event.capacityLeft}} / {{event.capacity}}</p>
                            </div>
                            <hr>
                            <div class="row">
                                <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-euro" aria-hidden="true"></div> Costs:</label>
                                <p class="col-xs-8">{{event.costs}} <span class="glyphicon-euro"></span>
                                </p>
                            </div>
                            <hr>
                            <div class="row">
                                <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-home" aria-hidden="true"></div> Host:</label>
                                <p class="col-xs-8">{{event.host.firstName}}</p>
                            </div>
                            <p></p>
                            <!-- Disable "Join" button in case there is no capacity left for the current event -->
                            <div ng-show="event.capacityLeft == 0">
                                <button type="button" class="btn btn-default disabled" style="margin-left: 45%">Join this event</button>
                                <p class="alert alert-info" style=" margin-top: 2%; font-size: 12pt; text-align: center; width: 100%">Sorry, but this event is already fully booked!</p>
                            </div>
                            <!-- Show "Join" button in case there is still capacity left for the current event-->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="{{'#joinModal' + event.id}}" data-whatever="@mdo" style="margin-left: 45%" ng-show="event.capacityLeft > 0" ng-click="noSuccess()">Join this event</button>
                        </div>
                        <!-- Display popup for registration in case of click event on "Join this event"-->
                        <div class="modal fade" id="{{'joinModal' + event.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <!-- Display basic information for the event to be registered for -->
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="exampleModalLabel" style="font-size: 18pt">Register for "{{event.title}}"</h4>
                                        <p/>
                                        <p/>
                                        <div class="row">
                                            <div class="col-xs-7 col-md-7" style="border: 2px">
                                                <p style="font-size: 12pt"><b>Where:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{event.location}}</p>
                                                <p style="font-size: 12pt"><b>When:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.date}}</p>
                                                <p style="font-size: 12pt"><b>Costs:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.costs}} <span class="glyphicon-euro"></span></p>
                                            </div>
                                            <div class="col-xs-5 col-md-5" style="width: 35%">
                                                <img class="registerImage" ng-if="event.picture != null" ng-src="/assets/images/users/{{event.picture}}" alt="Title">
                                                <img class="registerImage" ng-if="event.picture == null" ng-src="/assets/images/others/{{other}}.jpg" alt="Title">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Allow guest to enter message with the registration for the host -->
                                        <form>
                                            <div class="form-group">
                                                <label for="message-text" class="control-label">Your message to {{event.host.firstName}}:</label>
                                                <textarea class="form-control" id="message-text" maxlength="250" rows="5" cols="50" ng-model="eventregistration.message"></textarea>
                                            </div>
                                        </form>
                                        <div style="margin-top: 3%; text-align: center" ng-show="!success">Remember: Only registered Users can send Messages!</div>
                                        <!-- Success message in case registration was saved successfully -->
                                        <div class="alert alert-success" role='alert' ng-show="success" style="margin-top: 3%; text-align: center">
                                            Your Message has been sent!
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        <!-- Save newly created registration on click -->
                                        <button type="button" data-dismiss="alert" class="btn btn-primary" ng-click="registerNow(event)">Send registration</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eventContentRight searchContent">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
