<!-- Home landing page of the application -->
<!-- Header and title -->
<div class="title">
    <img src="/assets/images/title.png" alt="Title" class="img-responsive titleBanner">
    <div class="titleContent">
        <div class="heading_small">
            <p><mark class="studine_brand">"StuDine</mark> LETS YOU EXPERIENCE THE REAL STUDENT LIFE</p>
            <p>AT EXCITING COOKING EVENTS."</p>
        </div>
    </div>
</div>

<!-- Page content -->
<div class="woodBackground">

    <!-- Displaying info icons and info text -->
    <div class="container">
        <div class="offer">
            What StuDine Offers You
        </div>
    </div>
    <div class="pictureContainer">
        <div class="container">
            <div class="picture create">
                <p>Set Up Dinner</p>
                <p>Events</p>
            </div>
            <div class="picture search">
                <p>Search For Nearby Dinner Events</p>
            </div>
            <div class="picture meet">
                <p>Meet New Students From Your Neighbourhood</p>
            </div>
        </div>
    </div>
    <!-- Leading new users to the search page to get started with the application-->
    <div class="container">
        <button type="button" class="btn btn-primary btn-lg center-block" style="margin-top: 10%; margin-bottom: 10%" ui-sref="show_all_by_distance">Get Started Now!</button>
    </div>
</div>