<!-- Page to display the events a user registered for -->
<!-- Header and title -->
<div class="title">
    <img src="/assets/images/title.png" alt="Title" class="titleBanner">
    <div class="titleContent">
        <h5 class="heading">MY REGISTERED EVENTS</h5>
    </div>
</div>

<!-- Message in case the user is not registered for any events yet -->
<div class="alert alert-success" role='alert' ng-show="!success">
    <div style="margin-top: 3%; text-align: center">You aren't accepted to any Events, yet
        <br><br>
        <button type="button" class="btn btn-primary" ui-sref="show_all_by_date">
            Be a Guest
        </button>
    </div>
</div>

<!-- Page content -->
<div class="woodBackground">
    <div class="container">
        <div class="row">
            <div ui-view></div>
            <div ng-repeat="registration in guestRegistrations">
                <!-- Providing the user the possibility to remove created registrations -->
            <div class="content_box" title="{{registration.event.title}}"  style="width: 50%; margin-left: 28%">
                <a type="button" class="btn btn-primary glyphicon glyphicon-remove" data-toggle="modal" data-target="{{'#joinModal' + registration.event.id}}" data-whatever="@mdo"></a>
                <div class="modal fade" id="{{'joinModal' + registration.event.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                Remove your Registration for: <b>{{registration.event.title}}</b>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-success" role='alert' ng-show="success" style="margin-top: 3%; text-align: center">
                                    <b>This Action can't be undone! Are you sure to remove your Registration?</b>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" data-dismiss="alert" class="btn btn-primary" ng-click="removeRegistration(registration)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Displaying basic event information for all registrations of the user as well as a history of application/acceptance/messages from the host -->
                <div class="row eventContentTop">
                    <div class="col-lg-6 eventContentLeft" style="width: 50%; padding: 5%">
                        <img ng-if="registration.event.picture != null" ng-src="/assets/images/users/{{registration.event.picture}}" alt="Title" style="width: 100%; height: 100%;">
                        <img ng-if="registration.event.picture == null" ng-src="/assets/images/users/no_image.png" alt="Title" style="width: 100%; height: 100%;">
                    </div>
                    <div class="col-lg-6 eventContentRight" style="width: 50%;">
                        <h2 class="" style="width: 100%;text-align: center">{{registration.event.title}}</h2>
                        <div class="showIcons" style="width: 100%;text-align: center">
                            <div ng-if="registration.event.isVeggie" class="glyphicon glyphicon-apple labels" aria-hidden="true"></div>
                            <div ng-if="registration.event.isAlc" class="glyphicon glyphicon-glass labels" aria-hidden="true"></div>
                            <div ng-if="registration.event.isSmoker" class="glyphicon glyphicon-grain labels" aria-hidden="true"></div>
                            <div ng-if="registration.event.isCouple" class="glyphicon glyphicon-heart labels" aria-hidden="true"></div>
                        </div>
                    </div>
                </div>
                <hr style="width: 100%; height: 5px; background-color: dimgray">
                <div class="EventContentBottom" style="padding: 5%">
                    <div class="row">
                        <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-list" aria-hidden="true"></div> Description:</label>
                        <p class="col-xs-8">{{registration.event.description}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-eye-open" aria-hidden="true"></div> Motto:</label>
                        <p class="col-xs-8">{{registration.event.motto}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-map-marker" aria-hidden="true"></div> Location:</label>
                        <p class="col-xs-8">{{registration.event.location}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-calendar" aria-hidden="true"></div> Date:</label>
                        <p class="col-xs-8">{{registration.event.date}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-user" aria-hidden="true"></div> Capacity:</label>
                        <p class="col-xs-8">{{registration.event.capacityLeft}} / {{registration.event.capacity}}</p>
                    </div>
                    <hr>
                    <div class="row">
                        <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-euro" aria-hidden="true"></div> Costs:</label>
                        <p class="col-xs-8">{{registration.event.costs}} <span class="glyphicon-euro"></span>
                        </p>
                    </div>
                    <hr>
                    <div class="row">
                        <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-home" aria-hidden="true"></div> Host:</label>
                        <p class="col-xs-8">{{registration.event.host.firstName}}</p>
                    </div>
                    <hr>
                    <div ng-show="registration.accepted"><p class="bg-success col-xs 4">This Registrations has been accepted by Host  <b>{{registration.event.host.firstName}}</b>! Have fun! :)</p>
                        Contact of Host: <b>{{registration.event.host.email}}</b>
                    </div>
                    <div ng-show="registration.rejected"><p class="bg-success col-xs 4">This Registrations has been rejected by the Host! Sorry :(</p></div>
                    <div><p class="bg-success col-xs 4">Your Application Message: <i>{{registration.message}}</i></p></div>
                    <!-- the message feature including history and send message option is only available after acceptance-->
                    <button type="button" class="btn btn-primary" ng-show="registration.accepted" ng-click="messages(registration)">Messages</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>