<!-- Page to display the events a user is hosting -->
<!-- Header and title -->
<div class="title">
    <img src="/assets/images/title.png" alt="Title" class="titleBanner">
    <div class="titleContent">
        <h5 class="heading" ng-show="!editAble">MY HOSTED EVENTS</h5>
        <h5 class="heading" ng-show="editAble">EDIT EVENT</h5>
    </div>
</div>

<!-- Message in case the user is not hosting any events yet -->
<div class="alert alert-success" role='alert' ng-show="!success">
    <div style="margin-top: 3%; text-align: center">You are currently not hosting Events!
        <br><br>
        <button type="button" class="btn btn-primary" ui-sref="add_event">
            Be a Host
        </button>
    </div>
</div>

<!-- Page content -->
<div class="woodBackground">
    <div class="container">
        <div class="row">
            <div ui-view></div>
            <div ng-repeat="event in hostEvents" ng-show="!editAble">
                <!-- Providing the user the possibility to remove created events including corresponding registrations -->
                <div class="content_box" title="{{event.title}}" style="width: 50%; margin-left: 28%">
                    <a type="button" class="btn btn-primary glyphicon glyphicon-remove" data-toggle="modal" data-target="{{'#joinModal' + event.id}}" data-whatever="@mdo"></a>
                    <a type="button" class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editEvent(event)"></a>
                    <div class="modal fade" id="{{'joinModal' + event.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    Remove your Event: <b>{{event.title}}</b>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-success" role='alert' ng-show="success" style="margin-top: 3%; text-align: center">
                                        <b>This Action can't be undone! Are you sure to remove your Event?</b>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <button type="button" data-dismiss="alert" class="btn btn-primary" ng-click="removeEvent(event)">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Displaying basic event information as well as buttons to write a message to the participants and show all registrations -->
                    <div class="row eventContentTop">
                        <div class="col-lg-6 eventContentLeft" style="width: 50%; padding: 5%">
                            <img ng-if="event.picture != null" ng-src="/assets/images/users/{{event.picture}}" alt="Title" style="width: 100%; height: 100%;">
                            <img ng-if="event.picture == null" ng-src="/assets/images/users/no_image.png" alt="Title" style="width: 100%; height: 100%;">
                        </div>
                        <div class="col-lg-6 eventContentRight" style="width: 50%;">
                            <h2 class="" style="width: 100%;text-align: center">{{event.title}}</h2>
                            <div class="showIcons" style="width: 100%;text-align: center">
                                <div ng-if="event.isVeggie" class="glyphicon glyphicon-apple labels" aria-hidden="true"></div>
                                <div ng-if="event.isAlc" class="glyphicon glyphicon-glass labels" aria-hidden="true"></div>
                                <div ng-if="event.isSmoker" class="glyphicon glyphicon-grain labels" aria-hidden="true"></div>
                                <div ng-if="event.isCouple" class="glyphicon glyphicon-heart labels" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                    <hr style="width: 100%; height: 5px; background-color: dimgray">
                    <div class="EventContentBottom" style="padding: 5%">
                        <div class="row">
                            <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-list" aria-hidden="true"></div> Description:</label>
                            <p class="col-xs-8">{{event.description}}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-eye-open" aria-hidden="true"></div> Motto:</label>
                            <p class="col-xs-8">{{event.motto}}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-map-marker" aria-hidden="true"></div> Location:</label>
                            <p class="col-xs-8">{{event.location}}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-calendar" aria-hidden="true"></div> Date:</label>
                            <p class="col-xs-8">{{event.date}}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-user" aria-hidden="true"></div> Free Capacity:</label>
                            <p class="col-xs-8">{{event.capacityLeft}} / {{event.capacity}}</p>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-xs-4 control-label"><div class="glyphicon glyphicon-euro" aria-hidden="true"></div> Costs:</label>
                            <p class="col-xs-8">{{event.costs}} <span class="glyphicon-euro"></span>
                            </p>
                        </div>
                    </div>
                    <div style="text-align: center; margin-bottom:5%;">
                        <button type="button" class="btn btn-primary" ng-click="showRegistrations(event)">Show Registrations</button>
                        <button type="button" class="btn btn-primary" ng-click="messageParticipants(event)">Message Participants</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>