<!-- Popup to write a message to all event participants -->
<div class="modal fade" id="MessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <!-- Display basic event and message information -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel" style="font-size: 18pt">Message for "{{messages[0].event.title}}"</h4>
                </div>
                <div class="modal-body" ng-repeat="message in messages">
                    <label class="control-label">{{message.author.firstName}}({{message.date}}):</label>
                    <div style="text-align: center">{{message.text}}</div>
                </div>
                <div class="modal-footer">
                    <div ng-show="send"><p class="bg-success col-xs 4">Message sent successfully!</p></div>
                        <input name="message" type="text" maxlength="50" class="form-control input-medium" placeholder="Your Message!" ng-model="message.text" required style="margin-bottom: 1%;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                        <button type="submit" data-dismiss="alert" class="btn btn-primary" ng-click="sendMessage()">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>