<!-- Popup showing the registrations for a specific event -->
<div class="modal fade" id="RegistrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <!-- Display the corresponding event title -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="done()"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel" style="font-size: 18pt">Applicants for "{{registrations[0].event.title}}"</h4>
                </div>
                <!-- Show details on the registration -->
                <div class="modal-body" ng-repeat="registration in registrations">
                    <label class="control-label">{{registration.user.firstName}}:</label>
                    <div style="margin-top: 3%; text-align: center">{{registration.message}}</div>
                    <!-- Accept/Reject the registration by clicking the corresponding button -->
                    <div ng-show="!registration.accepted">
                        <button type="button" class="glyphicon glyphicon-ok btn btn-success" style="color: green;" ng-click="acceptNow(registration)"><b>Accept</b></button>
                        <button type="button" class="glyphicon glyphicon-remove btn btn-danger" style="color: red;" ng-click="rejectNow(registration)"><b>Reject</b></button>
                    </div>
                    <!-- Info whether the application was accepted/rejected -->
                    <div ng-show="registration.accepted"><p class="bg-success col-xs 4">Registration accepted:    <b>{{registration.user.email}}</b></p></div>
                    <div ng-show="registration.rejected"><p class="bg-success col-xs 4">You rejected Registration of <b>{{registration.user.firstName}}</b></p></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="done()">Back</button>
                </div>
        </div>
    </div>
</div>