/*
BACKGROUNDS
*/


/* Background image for all pages */
.woodBackground {
    background-image: url("../images/wood.jpg");
}

/* Title banner for all pages */
.titleBanner {
    width: 100%;
    position: relative;
    z-index : -1;
}


/*
TITLES AND HEADINGS
*/

/* Title container for home landing page */
.offer {
    font-family: 'Dotum';
    font-size: 60px;
    text-align: center;
    width: 95%;
    position: relative;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

/* Title container for all pages except the home page */
.titleContent {
    position: absolute;
    top: 35%;
    width: 100%;
}

/* Heading for all pages except the home page */
.heading {
    height: 130px;
    background-color: rgba(0,0,0,0.50);
    text-align: right;
    font-family: 'Dotum';
    padding-right: 2%;
    padding-top: 2%;
    font-size: 50px;
    color: white;
}

/* Heading for the home page */
.heading_small {
    height: 130px;
    background-color: rgba(0,0,0,0.50);
    text-align: right;
    font-family: 'Dotum';
    margin-top: 0.7%;
    padding-right: 2%;
    font-size: 32px;
    color: white
}

/* Brand name on the home page */
.studine_brand {
    background-color:transparent;
    font-size: 55px;
    color: white;
    font-family: 'Dotum'
}


/*
PICTURES ON THE HOME LANDING PAGE
*/

/* Container for all pictures */
.pictureContainer {
    background-color: rgba(0,0,0,0.4);
}

/* General picture layout */
.picture {
    background-size: 65%;
    background-repeat: no-repeat;
    z-index: 1;
    font-family: 'Dotum';
    font-size: 28px;
    float: left;
    height: 440px;
    width: 33%;
    padding-top: 20px;
    padding-right: 60px;
    text-align: center;
    color: white;
}

/* Picture layout adaption for "Create" Picture */
.picture.create {
    background-image: url(../images/createNew.png);
    background-size: 62%;
    background-position: 40% 80%;

}

/* Picture layout adaption for "Search" Picture */
.picture.search {
    background-image: url(../images/searchExisting.png);
    background-position: 60% 80%;
    padding-left: 70px;
}

/* Picture layout adaption for "Meet" Picture */
.picture.meet {
    background-image: url(../images/meetPeople.png);
    background-position: 70% 80%;
    background-size: 64%;
    padding-left: 75px;
    width: 34%;
}


/* Navigation bar positioning */
.navigation {
    margin-bottom: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 15%;
    padding-left: 15%;
}

/* Logo in the navigation bar */
.logo {
    padding-top: 0px;
}


/*
CONTAINERS AND BUTTONS TO CREATE, SEARCH, SHOW EVENTS
*/

/* General container positioning */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 25px;
    margin-left: 25px;
    width: auto;
}

/* General content box style */
.content_box {
    background-color: #F2F2F2;
    border-width: 5px;
    border-color: dimgray;
    border-style: solid;
    margin: 35px;
}

/* Container for create box */
.content_box_create {
    background-color: #F2F2F2;
    border-width: 5px;
    border-color: dimgray;
    border-style: solid;
    padding: 65px;
    margin: 35px;
}

/* Container for register box */
.content_box_register {
    background-color: #F2F2F2;
    border-width: 20px;
    border-color: dimgray;
    border-style: solid;
    padding: 25px;
    margin: 35px;
}

/* Button to save new event */
.create_button {
    margin-top: 20px;
    font-size: 16px;
}

/* Button to register for event */
.button_register {
    margin-right: -50%;
}

/* Labels  for event */
.checkIcons {
    width: 50%;
    float: left;
}

/*
SEARCH LAYOUT
*/

#locationField, #controls {
    position: relative;
}
#autocomplete {
}

#address {
    border: 1px solid #000090;
    background-color: #f0f0ff;
    width: 480px;
    padding-right: 2px;
}
#address td {
    font-size: 10pt;
}

#locationField {
    height: 20px;
    margin-bottom: 2px;
}

.searchImageBox {
    float: left;
    width: 35%;
    padding: 5%
}

.searchImage {
    height: auto;
    width: 90%;
    margin-top: 16%
}

.searchTitles {
    width: 100%;
    text-align: center;
    font-size: 26pt
}

.searchContent {
    float: left;
    width: 50%;
    height: 100%
}


/*
REGISTER LAYOUT
*/

.registerImage {
    width: 100%;
    height: 100%
}


/*
ADJUSTMENTS FOR BOOTSTRAP CLASSES
*/
a:link {
    color: white;
}

a:visited {
    color: white;
}

.labels {
    padding-left: 10px;
}

.labels_input {
    margin: 5px;
}

.dragover {
    border: 5px dashed blue;
}

.navbar .nav > li > a {
    float: none;
    color: #2683C6;
    font-size : 17px ;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.col-xs-3.control-label {
    text-align: left;
}

.glyphicon {
    font-size: 16px;
}

.control-label {
    font-size: 16px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #C5B8B8;
}